.page-header{
   display: flex;
   height: 60px;
   background-color: antiquewhite;
}
   .header-button-default{
      background-color: burlywood;
      color: beige;
      text-decoration: none;
      padding: 5px;
      height: 50px;
   }

   .button{
     
   }

   .input{
      width: 150px;
      background-color: beige;
      color: antiquewhite;
      border: 0px;
   }